In [35]:
stu = {'Aman':56,'Rohan':83,'Adi':12}
print(stu)

{'Aman': 56, 'Rohan': 83, 'Adi': 12}

In [36]:
student = {
    "name": "John Doe",
    "age": 20,
    "class": "12th",
    "gender": "M"
}
print(student)

{'name': 'John Doe', 'age': 20, 'class': '12th', 'gender': 'M'}

- how to declare it
- how to access key and value pairs
- how to use loop in dictionary
- indexing in dictionary

In [37]:
temp = {
    'Lucknow' : [30,35,45],
    'Delhi' : [32,36,40],
    'Mumbai' : [28,30,35]
}
print(temp)

{'Lucknow': [30, 35, 45], 'Delhi': [32, 36, 40], 'Mumbai': [28, 30, 35]}

In [38]:
info = dict(name= input("Enter the name"),age= 20,grade= "12th",gender= "M")
print(info)

{'name': 'john', 'age': 20, 'grade': '12th', 'gender': 'M'}

In [39]:
#1st method to access value through key
print(student['name'])
print(info['age'])

John Doe
20

In [40]:
#2nd method to access value through key
print(student.get('class'))
print(info.get('grade'))

12th
12th

In [41]:
#to add new key-value pair
student['city'] = 'New York City'
print(student)

{'name': 'John Doe', 'age': 20, 'class': '12th', 'gender': 'M', 'city': 'New York City'}

In [42]:
student['Father Name'] = 'MPY'
print(student)

{'name': 'John Doe', 'age': 20, 'class': '12th', 'gender': 'M', 'city': 'New York City', 'Father Name': 'MPY'}

In [43]:
#to delete a key-value pair
del student['gender']
print(student)

{'name': 'John Doe', 'age': 20, 'class': '12th', 'city': 'New York City', 'Father Name': 'MPY'}

In [44]:
student = {
    "name": ['John', 'Doe','Jane','Smith'],
    "age": [20,21,22,23]
}
print(student)

{'name': ['John', 'Doe', 'Jane', 'Smith'], 'age': [20, 21, 22, 23]}

In [45]:
student['name'].append('Alice')
print(student)

{'name': ['John', 'Doe', 'Jane', 'Smith', 'Alice'], 'age': [20, 21, 22, 23]}

In [ ]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age'])
dict_values([['John', 'Doe', 'Jane', 'Smith', 'Alice'], [20, 21, 22, 23]])
dict_items([('name', ['John', 'Doe', 'Jane', 'Smith', 'Alice']), ('age', [20, 21, 22, 23])])

In [47]:
for i in student:
    print(i)

name
age

In [49]:
for k,v in student.items():
    print(f"{k} : {v}")

name : ['John', 'Doe', 'Jane', 'Smith', 'Alice']
age : [20, 21, 22, 23]

In [51]:
a = 10
b = 5
sum = a+b
print("sum of",a,"and",b,"is",sum)
print(f"sum of {a} and {b} is {sum}")

sum of 10 and 5 is 15
sum of 10 and 5 is 15

In [58]:
company = {
    "emp001" : {"Name" : "Alice","Age" : 30, "Department" : "HR"},
    "emp002" : {"Name" : "Bob","Age" : 25, "Department" : "IT"},
    "emp003" : {"Name" : "Charlie","Age" : 28, "Department" : "Finance"}
}
print(company)

{'emp001': {'Name': 'Alice', 'Age': 30, 'Department': 'HR'}, 'emp002': {'Name': 'Bob', 'Age': 25, 'Department': 'IT'}, 'emp003': {'Name': 'Charlie', 'Age': 28, 'Department': 'Finance'}}

In [59]:
from pprint import pprint

In [60]:
pprint(company)

{'emp001': {'Age': 30, 'Department': 'HR', 'Name': 'Alice'},
 'emp002': {'Age': 25, 'Department': 'IT', 'Name': 'Bob'},
 'emp003': {'Age': 28, 'Department': 'Finance', 'Name': 'Charlie'}}

In [61]:
company['emp002']['Department']

'IT'

In [1]:
#to calculate the average temperature of lucknow
temp1 = int(input("Enter the temp"))
temp2 = int(input("Enter the temp"))
temp3 = int(input("Enter the temp"))
temp4 = int(input("Enter the temp"))
avg = (temp1+temp2+temp3+temp4)/4
print(avg)

28.5